html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
ul{list-style:none outside none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;outline:none;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;outline:none;}
button{padding:0;border:0 none;cursor:pointer;background:none;}
textarea{outline:none;}
div.anythingSlider{display:block;overflow:visible !important;position:relative;}
div.anythingSlider .anythingWindow{overflow:hidden;position:relative;width:100%;height:100%;}
.anythingBase{background:transparent;list-style:none;position:absolute;overflow:visible !important;top:0;left:0;margin:0;padding:0;}
.anythingBase .panel{background:transparent;display:block;overflow:hidden;float:left;padding:0;margin:0;}
.anythingBase .panel.vertical{float:none;}
.anythingSlider .back, #cboxPrevious, .button_back, .ad-gallery .ad-back{background:url(../images/bg_arrows.png) 0 0 no-repeat;cursor:pointer;display:block;width:15px;height:19px;overflow:hidden;text-indent:-9999px;position:absolute;}
.anythingSlider .forward, #cboxNext, .button_next, .ad-gallery .ad-forward{background:url(../images/bg_arrows.png) -15px 0 no-repeat;cursor:pointer;display:block;width:15px;height:19px;overflow:hidden;text-indent:-9999px;position:absolute;}
.anythingControls a.playing{background:url(../images/bg_arrows.png) -30px 0 no-repeat;cursor:pointer;display:block;width:15px;height:19px;overflow:hidden;text-indent:-9999px;position:absolute;}
.anythingControls .start-stop{background:url(../images/bg_arrows.png) -45px 0 no-repeat;cursor:pointer;display:block;width:15px;height:19px;overflow:hidden;text-indent:-9999px;position:absolute;}
.thumbNav li{float:left;}
.thumbNav span{background:url(../images/bg_slider_li.png) no-repeat 0 0;cursor:pointer;display:block;width:9px;height:9px;overflow:hidden;text-indent:-9999px;margin-left:3px;}
.thumbNav .cur span{background:url(../images/bg_slider_li.png) no-repeat 0 -10px;}
.ad-gallery{width:600px;}
.ad-gallery, .ad-gallery *{margin:0;padding:0;}
.ad-gallery .ad-image-wrapper{width:100%;height:400px;margin-bottom:8px;position:relative;overflow:hidden;}
.ad-gallery .ad-image-wrapper .ad-loader{position:absolute;z-index:10;top:48%;left:48%;}
.ad-gallery .ad-image-wrapper .ad-next{position:absolute;right:0;top:0;width:25%;height:100%;cursor:pointer;display:block;z-index:100;}
.ad-gallery .ad-image-wrapper .ad-prev{position:absolute;left:0;top:0;width:25%;height:100%;cursor:pointer;display:block;z-index:100;}
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image{width:38px;height:42px;display:none;position:absolute;top:47%;z-index:101;opacity:1 !important;}
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image{background:url(../images/bg_prev_next.png) no-repeat 0 0;left:0;}
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image{background:url(../images/bg_prev_next.png) no-repeat -38px 0;right:0;}
.ad-gallery .ad-image-wrapper .ad-image{position:absolute;overflow:hidden;top:0;left:0;z-index:9;}
.ad-gallery .ad-image-wrapper .ad-image a img{border:0;}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description{position:absolute;bottom:0px;left:0px;padding:14px;text-align:left;width:100%;z-index:2;background:url(../images/black_50.png);color:#ffffff;font-size:12px;}
* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='../images/black_50.png');}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title{display:block;}
.ad-gallery .ad-controls{height:20px;display:none;}
.ad-gallery .ad-info{float:left;}
.ad-gallery .ad-slideshow-controls{float:right;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop{padding-left:5px;cursor:pointer;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown{padding-left:5px;font-size:0.9em;}
.ad-gallery .ad-slideshow-running .ad-slideshow-start{cursor:default;font-style:italic;}
.ad-gallery .ad-nav{width:100%;position:relative;}
.right_sidebar .ad-gallery .ad-nav{width:576px;padding:0 21px;}
.ad-gallery .ad-forward, .ad-gallery .ad-back{position:absolute;top:0;height:100%;z-index:10;}
* html .ad-gallery .ad-forward, .ad-gallery .ad-back{height:100px;}
.ad-gallery .ad-back{left:0;top:14px;}
.ad-gallery .ad-forward{right:0;top:14px;}
.ad-gallery .ad-nav .ad-thumbs{overflow:hidden;width:100%;}
.ad-gallery .ad-thumbs .ad-thumb-list{float:left;width:9000px;list-style:none;}
.ad-gallery .ad-thumbs li{float:left;padding-right:8px;background:none !important;margin-bottom:0 !important;padding-bottom:0 !important;}
.ad-gallery .ad-thumbs li a{display:block;}
.ad-gallery .ad-thumbs li a img{display:block;}
.ad-gallery .ad-thumbs li a.ad-active img{}
.ad-preloads{position:absolute;left:-9000px;top:-9000px;}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;}
#cboxOverlay{position:fixed;width:100%;height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;background:#ffffff;}
#cboxMiddleLeft, #cboxMiddleRight, #cboxTopLeft, #cboxTopRight{background:#ffffff;width:10px;}
#cboxTopCenter, #cboxTopLeft, #cboxTopRight{background:#ffffff;height:10px;}
#cboxLoadedContent{overflow:auto;margin-bottom:34px;}
#cboxTitle{bottom:12px;left:0;position:absolute;text-align:center;font-weight:bold;width:100%;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left;margin:auto;border:0;display:block;}
.cboxIframe{width:100%;height:100%;display:block;border:0;}
#cboxOverlay{background-color:#000000;background:-webkit-radial-gradient(#FFFFFF, #000000);background:-moz-radial-gradient(#FFFFFF, #000000);background:-o-radial-gradient(#FFFFFF, #000000);background:-ms-radial-gradient(#FFFFFF, #000000);background:radial-gradient(#FFFFFF, #000000);}
#cboxLoadingGraphic{background:url(../images/preloader.gif) no-repeat center center;}
#cboxClose{position:absolute;bottom:7px;right:0;background:url(../images/bg_arrows.png) no-repeat -60px 0;width:19px;height:19px;text-indent:-9999px;}
#cboxPrevious{bottom:7px;left:0;}
#cboxNext{bottom:7px;left:17px;}
.ui-helper-hidden{display:none;}
.ui-helper-hidden-accessible{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}
.ui-helper-clearfix{zoom:1;}
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}
.ui-accordion{width:100%;margin-bottom:20px;}
.ui-accordion .ui-accordion-header{cursor:pointer;position:relative;margin:0 0 1px 0 !important;zoom:1;}
.ui-accordion .ui-accordion-li-fix{display:inline;}
.ui-accordion .ui-accordion-header-active{border-bottom:0 !important;}
.ui-accordion .ui-accordion-header a{display:block;font-size:1em;padding:.5em .5em .5em .7em;}
.ui-accordion-icons .ui-accordion-header a{padding-left:2.2em;}
.ui-accordion .ui-accordion-header .ui-icon{position:absolute;left:.5em;top:50%;margin-top:-8px;}
.ui-accordion .ui-accordion-content{background:#ebebeb;padding:15px 10px;border-top:0;margin-top:0;margin-bottom:1px;position:relative;top:0;overflow:auto;display:none;zoom:1;}
.ui-accordion .ui-accordion-content p{margin:0 !important;}
.ui-accordion .ui-accordion-content-active{display:block;}
.ui-tabs{position:relative;zoom:1;}
.ui-tabs .ui-tabs-nav{margin:0;height:24px;line-height:24px;padding:6px 10px;background:#d9d9d9 url(../images/bg_content_block_title.png) repeat-x 0 0;}
.ui-tabs .ui-tabs-nav li{position:relative;top:0;border-bottom:0 !important;white-space:nowrap;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{margin-bottom:0;padding-bottom:0;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;}
.ui-tabs .ui-tabs-panel{display:block;border-width:0;padding:15px 10px !important;background:none;}
.ui-tabs .ui-tabs-hide{display:none !important;}
.ui-tabs-nav li{float:left !important;border:0 none !important;background:none !important;padding:0 !important;margin:0 6px 0 0 !important;height:25px !important;}
.ui-tabs-nav li span.bg{padding:8px 0 4px;margin:0 11px;height:13px;line-height:10px;display:block;}
.ui-tabs-nav li.ui-state-active{background:url(../images/bg_tabs_li.png) no-repeat 0 -50px !important;}
.ui-tabs-nav li a{display:block;}
.ui-tabs-nav li a:hover{text-decoration:none !important;}
.ui-tabs-nav li.ui-state-active a{background:url(../images/bg_tabs_li.png) no-repeat 100% -25px;display:block;height:25px;}
.ui-tabs-nav li.ui-state-active .bg{background:url(../images/bg_tabs_li.png) repeat-x 0 0;}
.ui-tabs-nav li a{font-size:14px;color:#282828;}
.ui-tabs-nav li.ui-state-active a{font-weight:bold;}