
@{
    ViewBag.Title = "Rol Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section head{
    <script src="/Content/Admin/js/jquery-1.8.3.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#rolEkle").click(function () {
                var id = $("#inputSuccess").val();
                $.ajax({
                    type: "POST",
                    url: "/Admin/RolEkleme/" + id,
                    success: function (veri) {
                        if (veri=="basarili") {
                            alert("Rol ekleme durumu başarılı..");
                            //BURASı
                            window.location.replace("/Admin/RolListele");
                        }
                        if (veri=="basarisiz") {
                            alert("Bu rol önceden ekli..");

                        }
                       
                    },
                    error: function (data) {
                        alert("Rol ekleme durumu başarısız..");
                    }
                });
            });
        });
    </script>
}

<div class="row">
    <div class="col-lg-12">

        <section class="panel">
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <label>Rol Adı Giriniz :</label>
                    </div>
                    <div class="form-group has-success col-lg-4">


                        <input type="text" class="form-control" placeholder="Yeni rol ismi giriniz" value="" id="inputSuccess">

                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-compose " id="rolEkle" href="#">Rolü Ekle</a>


                    </div>
                </div>

            </div>
        </section>
    </div>
</div>