
@{
    Layout = null;
}

<aside id="block_extra" class="content">
    <ul>
        <li>
            <article>
                <p><a href="#"><img src="images/content/extra_1.jpg" alt="Photo" /></a></p>
                <h4 class="title"><a href="#">Nam elit agna, endrerit sit amet.</a></h4>
                <p class="date">
                    <time datetime="2012-01-14">Jan 14, 2012</time>
                    <span class="comments_count"><a href="#">8</a></span>
                </p>
                <p>Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet dipiscing aliquet, consectetuer...</p>
                <p><a href="#" class="view_all"><span><span>Read More</span></span></a></p>
            </article>
        </li>
        <li class="last">
            <article>
                <p><a href="#"><img src="images/content/extra_2.jpg" alt="Photo" /></a></p>
                <h4 class="title"><a href="#">Donec porta diam eu massa.</a></h4>
                <p class="date">
                    <time datetime="2012-01-14">Jan 14, 2012</time>
                    <span class="comments_count"><a href="#">3</a></span>
                </p>
                <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula...</p>
                <p><a href="#" class="view_all"><span><span>Read More</span></span></a></p>
            </article>
        </li>
    </ul>
</aside>
