
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/Content/Admin/img/favicon.png">
    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Content/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/Content/Admin/css/style.css" rel="stylesheet">
    <link href="/Content/Admin/css/style-responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">
        <form class="form-signin" action="/Home/Giris" method="post">
            <h2 class="form-signin-heading">VIP's CUSUAL </h2>

            <div class="login-wrap">

                <p style="color:red;">@ViewBag.girisSorun</p>

                <input type="text" name="kullaniciAdi" class="form-control" placeholder="Kullanıcı Adı" autofocus>
                <input type="password" name="parola" class="form-control" placeholder="Parola">
                <label class="checkbox">
                    <input type="checkbox" name="beniHatirla" value="true">Seni hatırlayabilirim
                    <span class="pull-right">
                        <a data-toggle="modal" href="#myModal">Parolanı mı unuttun?</a>
                    </span>
                </label>
                <input class="btn btn-lg btn-login btn-block" type="submit" name="name" value="Giriş" />

                <p>Sosyal medyanla da giriş yapabilirsin ;</p>
                <div class="login-social-link">
                    <a data-toggle="modal" href="#myModal2"
                       class="facebook">
                        <i class="icon-facebook"></i>
                        Facebook
                    </a>
                    <a data-toggle="modal" href="#myModal2"
                       class="twitter">
                        <i class="icon-twitter"></i>
                        Twitter
                    </a>
                </div>

                <div class="registration">
                    Hala hesabın yok mu ?
                    <a data-toggle="modal" href="/Home/HesapOlustur">
                        Buradan
                    </a> yeni hesap oluşturabilirsin.
                </div>
            </div>
            <!-- Modal -->

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Parolanı mı unuttun ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Hemencecik sorununu çözeyim. Email adresini girer misin ?
                            </p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">İptal</button>
                            <button class="btn btn-success" type="button">Yolla</button>
                        </div>
                    </div>
                </div>
            </div>
            @*IKICNI MODAL*@

            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">OOPS Ufak bir sorunla karşılaştık.</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Şuan için burası aktif değil üzgünüm..
                            </p>

                        </div>
                        <div class="modal-footer">

                            <a class="btn btn-login" href="/Home/Giris"> PEKALA  </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        </form>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/Content/Admin/js/jquery.js"></script>
    <script src="/Content/Admin/js/bootstrap.min.js"></script>
    <script>


    </script>

</body>
</html>

